{
    "env": {
        "es6": true,
        "node": true
    },
    "extends": [
        "standard"
    ],
    "rules": {
        "semi": [
            1,
            "always"
        ]
    },
    "parserOptions": {
        "ecmaVersion": 2017
    }
}
